* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    --bs-gutter-x: 0px;
    max-width: 100vw;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#main-row {
    display: flex;
    justify-content: center;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.5);
}

/* NAV */
nav {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: -100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    padding: 10%;
    background-color: #ECE9E8;
}

#nav-container {
    min-width: 30%;
}

#nav-container>p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}

h2.menu-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5em;
    font-weight: bolder;
}

h2.mode-menu {
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

#radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-menu {
    position: absolute;
    top: 75px;
    right: 100px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#close-menu:hover {
    transform: scale(0.95);
    color: #ff3853;
}

#open-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ECE9E8;
    position: absolute;
    right: -60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

#open-menu:hover {
    transform: scale(0.95);
    color: #2761c3;
}

#open-menu>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* INFOS */
#infos {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar {
    background-color: #ECE9E8;
    border-radius: 10px;
    margin: 20px;
    height: 30vh;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

.calendar-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: #E75450;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.calendar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    font-size: 6em;
}

#wallet {
    background-image: url(../img/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

#money {
    font-size: 2vw;
}

#home {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DISTRICTS */
#districts {
    height: 100%;
}

#districts-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.district {
    border-radius: 10px;
    margin: 10px;
    width: calc(50% - 20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.district:hover {
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    transform: scale(1.05);
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

.district-content {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.district-content>p {
    color: white;
    font-weight: bold;
    font-size: 28px;
    user-select: none;
}

/* EVENTS */

#events {
    display: none;
}

#items {
    padding: 20px 20px 0 10px;
    width: 100%;
}

.items-container {
    padding: 5px 1em;
    border-radius: 10px;
    background-color: #ECE9E8;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

.items-container>h2 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.items-container>div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.items-container>div>p {
    width: 50%;
}

.product-name {
    display: inline-block;
    width: 50%;
    font-size: 1em;
    font-weight: bold;
}

.product-number {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* TRADE LIST */
#trade {
    padding: 10px 20px 0 10px;
}

#items-trade-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#items-top {
    background-color: #2760c3c5;
    color: white;
    padding: 0 20px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.item-name {
    width: 20%;
}

.item-buy-price {
    width: 200px
}

.item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    background-color: #ECE9E8;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

.name {
    width: 25%;
    font-size: 16px;
    font-weight: bold;
}

.buy-price,
.sell-price {
    width: 50px;
    font-weight: bold;
    display: inline-block;
    min-width: 30px;
}

.buy {
    margin-right: 50px;
}

/* BUTTONS */
button {
    width: 80px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    z-index: -1;
}

button:hover,
button:focus {
    color: white;
}

button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

.buy {
    border: 2px solid #7438ff;
    color: #7438ff;
}

.buy::before {
    background-color: #7438ff;
}

.sell {
    border: 2px solid #ff3853;
    color: #ff3853;
}

.sell::before {
    background-color: #ff3853;
}

#btn-home {
    display: none;
    width: 90%;
    font-size: 2vw;
    border: 2px solid #2761c3;
    color: #2761c3;
}

#submit {
    display: block;
    margin: 15px auto 0 auto;
    width: 60%;
    font-size: 1.2em;
    border: 2px solid #2761c3;
    color: #2761c3;
}

#btn-home::before,
#submit::before {
    background-color: #2761c3;
}

#btn-home:hover,
#submit:hover,
#btn-home:focus,
#submit:focus {
    color: white;
}

/* POPUP */

#popup {
    z-index: 10000;
    display: none;
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}

#popup>div {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-content {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* MESSAGE */
#message {
    display: none;
    z-index: 1000;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 175px);
    padding: 15px;
    width: 350px;
    height: auto;
    border-radius: 5px;
    background-color: #F4F1CA;
    border: 5px dashed #ff3853;
    box-shadow: 4px 6px 3px 0px rgba(0, 0, 0, 0.30);
}

#message>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    text-align: center;
}

/* POPUP DICES */
#dices-container {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.dices {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.dices>div {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dices>div>img {
    display: block;
    margin: auto;
    max-width: 50%;
}

#close-dices {
    position: absolute;
    color: #ff3853;
    font-size: 50px;
    right: 100px;
    top: 100px;
    transition: 0.5s;
}

#close-dices:hover {
    transform: scale(0.9);
}

#event-text {
    text-align: center;
    color: #ff3853;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
}